*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root
{
    --black: #443a31;
    --darker: #362417;
    --dark: #614a3c;
    --light: #b08968;
    --cream: #ddb892;
    --faint: #e6ccb2;
    --pale: #ede0d4;
}

body
{
    display: flex;
    flex-direction: column;
}

ul
{
    list-style: none;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
    align-items: center;
    background-color: var(--dark);
}

.header .logo
{
    color: var(--pale);
    font-size: 24px;
    font-weight: 800;
}

.header-links
{
    display: flex;
    gap: 16px;
    color: var(--faint);
}

.content
{
    display: flex;
    justify-content: space-between;
    padding: 32px 128px;
    background-color: var(--dark);
}

.container
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container h1
{
    font-size: 48px;
    color: var(--pale);
    font-weight: 900;
}

.container p
{
    font-size: 16px;
    color: var(--faint);
    width: 256px;
}

.container button
{
    width: 200px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    color: var(--darker);
    border-radius: 10px;
    border: 2px solid var(--black);
    background-color: var(--light);
}

.content img
{
    width: 320px;
    height: auto;
    border-radius: 16px;
    border: 8px solid var(--black);
}

.examples
{
    display: flex;
}


